<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet">
    <h1>Ruby on Rails スケジュール管理アプリ</h1>
   </header>

   <div class= main_table>
    <%= yield %>
   </div>

    <footer>
    <h1>現在の日時：<%= Time.now.strftime("%Y年%m月%d日")%>
    <br>スケジュール合計：<%= User.count(:title) %></h1>
    </footer>
  </body>
</html>
